<header id="top">
    <div class="wrapper">
        <a href="{{ site.baseurl }}/" class="brand">{{ site.title }}</a>
        <small>{{site.brief-intro}}</small>
        <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
        <nav id="headerNav">
            <ul>
                <li>
                    {% if page.url == '/' %}
                    <a class="active" href="{{site.baseurl}}/">
                        {% else %}
                    <a href="{{site.baseurl}}/">
                    {% endif %}
                        <i class="fa fa-home"></i>Home
                    </a>
                </li>

                {% for my_page in site.pages %}
                    {% if my_page.type == 'page' %}
                    <li>
                        {% if my_page.url == page.url %}
                        <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">
                            {% else %}
                        <a href="{{ my_page.url | prepend: site.baseurl }}">
                        {% endif %}
                            <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>

<div id="TopImage" class="TopImage">
<!--此div用于占位，因某些原因id和class的名称没有更改为适当的，需要更改的时候应在main.js里的//////////////////////////TopImage//////////////////////////////代码块部分更改-->
</div>
